[user]
	name = Josh Gordon
	email = github@joshgordon.net
[alias]
	ci = commit
[core]
	excludesfile = "~/.gitignore_global"
	attributesfile = /home/josh/.gitattributes_global

[diff "docxconv"]
  textconv=unoconv -f text --stdout 

[http "https://gitea.joshgordon.app"]
  sslCert = /home/josh/certs/client.cert
  sslKey = /home/josh/certs/client.key
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
