[user]
	name = Josh Gordon
	email = github@joshgordon.net
[alias]
	ci = commit
[core]
	excludesfile = "~/.gitignore_global"
	attributesfile = /home/josh/.gitattributes_global

[diff "docxconv"]
  textconv=unoconv -f text --stdout 
